<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
        crossorigin="anonymous">
  <title>Health Center</title>
</head>
<body>

<div class="row mt-3">
  <div class="col-md-4">
    <a th:href="@{/doctor/availability}" class="btn btn-primary" role="button">Specify availability</a>
  </div>
</div>

</body>
</html>